@use 'mixins' as *;

/*
+-------------+
| GRID SYSTEM |
+-------------+
*/

.container {
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	@include mq(md) {
		max-width: 960px;
	}
	@include mq(lg) {
		max-width: 1140px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}

[class*='col-'] {
	padding-left: 15px;
	padding-right: 15px;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: 100% / 12 * $i;
	}
}

@include mq(md) {
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			width: 100% / 12 * $i;
		}
	}
}

@include mq(lg) {
	@for $i from 1 through 12 {
		.col-lg-#{$i} {
			width: 100% / 12 * $i;
		}
	}
}
